<%- include('partials/head.ejs') %>


    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="img">
                <img class="main_img" src="images/img1.jpg">
                <div class="centered">Hi!! From Home Page</div>
            </div>

    </body>
    <%- include('partials/footer.ejs') %>
        <footer class="bg-light text-center text-lg-start mt-auto">

            <div class="text-center p-3">
                © 2022 Copyright:
                <a class="text-dark" href="#">Pratham Garg</a>
            </div>
        </footer>

        </html>