<%- include('partials/head.ejs') %>


    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="img">
                <img class="main_img" src="images/img1.jpg">
                <div class="centered">Hi!! From Home Page</div>
            </div>

    </body>
    <%- include('partials/footerimages.ejs') %>
        <%- include('partials/footer.ejs') %>

            </html>