<%- include('partials/head.ejs') %>




    <body class="d-flex flex-column min-vh-100">
        <%- include('partials/navbar.ejs') %>

            <div class="container my-5 pt-5">
                <div class="row">
                    <div class="col-lg-6">
                        <img class="w-100 shadow" src="images/img6.jpg" />
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5 mt-4">
                            <h1 class="display-4">Welcome</h1>
                            <p class="lead">From the Info page using EJS</p>
                            <a href="#" class="btn btn-outline-dark">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


    </body>
    <footer class="bg-light text-center text-lg-start mt-auto">

        <div class="text-center p-3">
            © 2020 Copyright:
            <a class="text-dark" href="#">Pratham Garg</a>
        </div>
    </footer>

    </html>